<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <div class="container">
      <h2>Login</h2>
      <form method="POST" action="/login">
        {{ form.hidden_tag() }}
        <div>
          {{ form.email.label }}<br>
          {{ form.email(size=32) }}
        </div>
        <div>
          {{ form.password.label }}<br>
          {{ form.password(size=32) }}
        </div>
        <div class="g-recaptcha" data-sitekey="{{ app.config['RECAPTCHA_SITE_KEY'] }}"></div>
        <div>
          {{ form.submit() }}
        </div>
      </form>
    </div>
  </body>
</html>
